<!-- カスタマーのトップページ -->

<!-- アニメーション -->
<div class="container">

		<div id="theTarget">
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			<div class="image4"></div>
			<div class="image5"></div>
		</div>

	<!-- サイドバー ジャンル検索 -->
	<div class="row">
		<div class="col-md-2 text-center">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="warning text-center"><%= link_to "長野ケーキの歴史", about_path %></th>
					</tr>
					<tr>
					<tr>
						<th class="warning text-center"><%= link_to "季節限定","#" %></th>
					</tr>
					<tr>
						<th class="warning text-center"><%= link_to "おすすめ","#" %></th>
					</tr>
					<tr>
						<th class="warning text-center"><%= link_to "ランキング","#" %></th>
					</tr>
 					<tr>
 						<th class="warning text-center">ジャンル検索</th>
 					</tr>
 				</thead>

 				<tbody>
 					<% @genres.each do |genre| %>
 						<tr>
 							<td>
								<%= link_to items_genre_path(genre.id) do %>
 									<%= genre.name %>
								<% end %>
 							</td>
 						</tr>
      		<% end %>
				</tbody>
			</table>
		</div>
		<!-- 商品一覧 -->
		<div class="col-xs-10">
				<!-- 6つだけランダムに取り出す -->
				<% @items.shuffle.first(6).each do |item| %>

					<div class="top-item-name col-xs-4">
					<%= link_to item_path(item) do %>
						<%= attachment_image_tag item, :item_image, size: "150x150"%><br>
						<span style="font-size: 20px"><%= item.name %></span><br>
					<% end %>
					<%= item.without_tax_price.to_s(:delimited, delimiter: ',') %>円<br>
					<%#= item.description %>
					</div>

				<% end %>
			</div>
</div>
