<!-- カスタマーのトップページ -->

<!-- アニメーション -->
<div class="container">

		<div id="theTarget">
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			<div class="image4"></div>
			<div class="image5"></div>
		</div>

	<!-- サイドバー -->
	<div class="row">
		<div class="col-xs-2">
			<ul class="nav nav-sidebar sidebar">
				<li><%= link_to "ジャンル検索", items_path %></li>
				<li><%= link_to "サイドバー", "/" %></li>
				<li><%= link_to "サイドバー", "/" %></li>
				<li><%= link_to "サイドバー", "/" %></li>
				<li><%= link_to "サイドバー", "/" %></li>
				<li><%= link_to "サイドバー", "/" %></li>
				<li><%= link_to "サイドバー", "/" %></li>
				<li><%= link_to "サイドバー", "/" %></li>
				<li><%= link_to "サイドバー", "/" %></li>
			</ul>
		</div>

		<!-- 商品一覧 -->
		<div class="col-xs-10">

				<% @items.each do |item| %>

					<div class="top-item-name col-xs-4">
					<%= link_to item_path(item) do %>
						<%= image_tag item.item_image_id.url %><br>
						<span style="font-size: 20px"><%= item.name %></span><br>
					<% end %>
					<%= item.without_tax_price.to_s(:delimited, delimiter: ',') %>円<br>
					<%= item.description %>
					</div>

				<% end %>

			</div>
		</div>

</div>
