<div class="container text-center">
  <div class="row">

  <h2>ながのCAKE</h2>
  <p>無料メンバーになりましょう！</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


  <table class="table table-bordered">
    <tbody>

      <tr>
        <td>
          <div class="field">
            <%# last_nameカラムの追加 %>
            <%= f.text_field :last_name, autofocus: true, placeholder:"苗字"%>
            <%# first_nameカラムの追加 %>
            <%= f.text_field :first_name, placeholder:"名前" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%# last_kanaカラムの追加 %>
            <%= f.text_field :last_kana, placeholder:"カタカナ（苗字）" %>
            <%# first_nameカラムの追加 %>
            <%= f.text_field :first_kana, placeholder:"カタカナ（名前）" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%# postal_codeカラムの追加 %>
            <%= f.text_field :postal_code,maxlength:10, placeholder:"郵便番号（ハイフンを入れて入力してください）", :size=>"43" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%# postal_codeカラムの追加 %>
            <%= f.text_field :address, placeholder:"住所", :size=>"43" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%# phone_numberカラムの追加 %>
            <%= f.telephone_field :phone_number, placeholder: "電話番号（ハイフンを入れて入力してください）", :size=>"43" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%= f.email_field :email, autocomplete: "email", placeholder:"メールアドレス", :size=>"43" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード(６文字以上ご入力ください)", :size=>"43" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード確認", :size=>"43" %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-info" %>
          </div>
        </td>
      </tr>

    </tbody>
  </table>

  <% end %>
    </div>
  </div>



  <%# if @minimum_password_length %>
  <!-- <em>(<%# @minimum_password_length %> characters minimum)</em> -->
  <%# end %><br />
