<div class="container">
  <div class="row">
    <h2>商品　編集画面</h2>
  </div>
  <div class=row>
  <%= form_for(@item, url: admins_item_path) do |f| %>
    <div class="col-md-5">
      <% if @item.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= attachment_image_tag @item, :item_image, size: "300x250"%>
      <%= f.attachment_field :item_image, placeholder: "画像選択" %>
    </div>
    <div class="col-md-5">

    <table class="table">
      <tbody>
        <tr>
          <td>商品名</td>
          <td><h4><%= f.text_field :name  %></h4></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><h4><%= f.text_area :description %></h4></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><h4><%= f.collection_select(:genre_id, @genres, :id, :name ) %></h4></td>
        </tr>
        <tr>
          <td>税抜価格</td>
          <td><h4><%= f.text_field :without_tax_price %>円</h4></td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td><%= f.select :sale_status,{販売中: '販売中', 売切れ: '売切れ'} %></td>
        </tr>
      </tbody>
    </table>
    </div>
  <div>
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
    <%= f.submit "変更を保存", class: "btn btn-info btn-md" %>
  <% end %>
    </div>
  </div>
<div>
