

  <h1>商品一覧画面</h1>


  <table class="table">
    <tbody>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
            <%= link_to item_path do %>
        <td><%= item.name %></td>
            <% end %>
        <td><%= without_tax_price(item.price) %></td>   <%# 金額を３桁で区切る %>
        <td><%= @genre.name %></td>
        <td><%= item.sale_status %></td>
      </tr>
    </tbody>
  </table>

  <%= paginate @item, class: "paginate" %>
