

  <h1>商品　新規登録画面</h1>

  <%= form_for(@item, url: admins_items_path) do |f| %>   <%# urlを指定すると作動する %>
  <% if @item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.file_field :image, placeholder: "画像選択" %>

  <table class="table">
    <tbody>
      <tr>
        <td>商品名</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>商品説明</td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= f.select :genre_id, Genre.all.map { |genre| [genre.name,genre.id] }, prompt: "--選択してください--"  %></td>   <%# ジャンル名で選択できるようにしている %>
      </tr>
      <tr>
        <td>税抜価格</td>
        <td><%= f.text_field :without_tax_price %>円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <td><%= f.select :sale_status, [["販売中",0], ["売切れ",1]], prompt:"--選択してください--" %></td>
      </tr>
    </tbody>
  </table>

  <%= f.submit "新規登録" %>

  <% end %>
