
<div class="container">
  <div class="row">
		<div class="col-md-2 text-center">
			<table class="table table-bordered table-hover">
				<thead>
 					<tr>
 						<th class="warning text-center">ジャンル検索</th>
 					</tr>
 				</thead>

 				<tbody>
 					<% @genres.each do |genre| %>
 						<tr>
 							<td>
								<%= link_to items_genre_path(genre.id) do %>
 									<%= genre.name %>
								<% end %>
 							</td>
 						</tr>
      		<% end %>
				</tbody>
			</table>
    </div>
  
    <div class="col-md-7 text-center">
      <%= attachment_image_tag @item, :item_image, size: "100x100"%>
    </div>
    <div class="col-md-3">
      <h3><%= @item.name %></h3>
      <%= @item.description %><br>
      <h3>
      ¥<%= @tax.floor.to_s(:delimited, delimiter: ',') %>   <%# 税込み価格を表示。floorで小数点以下を切り捨て %>
      <span>(税込)</span>
      </h3>
    </div>
  </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
      <% if customer_signed_in? %>
       <%= form_for(@cart_item) do |f| %>
         <%= f.hidden_field :item_id, value: @item.id %>
         <%= f.number_field :item_number, min: 1, max: 10, step: 1, placeholder: "個数選択"%>   <%# 個数選択のファーム（1〜10まで選べる) %>
         <%= f.submit "カートに入れる",class: "btn btn-info"%>
       <% end %>
      <% end %>
    </div>
  </div>
</div>
