<div class="container">
<div class="row">
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <td>
        購入日時</td>
      <td>
        購入者</td>
      <td>
        注文個数</td>
      <td>
        注文ステータス</td>
    </thead>
    <%= @orders.each do |order| %>
    <%= @details.each do |detail| %>
    <tbody>
      <tr>
      <td>
        <%= order.created_at %>
        </td>
      <td>
       <%= order.customer_id %>
        </td>
      <td>
        <%= detail.item_number %>
       </td>
      <td>
        <%=  %>
        </td>
      </tr>
    </tbody>
    <% end %>
    <% end %>
  </table>


</div>
</div>
</div>
