<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>注文一覧画面</h2>
<table class="table table-hover">
        <thead>
          <tr>
          <td>
            購入日時</td>
          <td>
            購入者</td>
          <td>
            注文個数</td>
          <td>
            注文ステータス</td>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <% order.order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td>
              <%= link_to admins_order_path(order.id) do %>
                <%= order.created_at.in_time_zone('Tokyo') %>
              <% end %>
            </td>
            <td>
               <%= order.customer.last_name %>
                <%= order.customer.first_name %>
            </td>
            <td>
              <% sum = 0 %>
              <% sum = sum + order_detail.item_number %>
              <%= sum %>
            </td>
            <td>
              <%= order.order_status %>
            </td>
          </tr>
        </tbody>
    <% end %>
    <% end %>
  </table>

</div>
</div>
</div>
