<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@order, url: admins_order_path) do |f| %>
      <h2>注文詳細画面</h2>
      <table class="table table-hover">
        <tbody>
          <tr>
            <tr>
            <td>購入者</td>
            <td>
            <%= @order.customer.last_name %>
            <%= @order.customer.first_name %>
          </td>
            </tr>
          <tr>
            <td>配送先</td>
            <td>
            <%= @order.customer.address %></td>
          </tr>
          <tr>
            <td>
              支払い方法</td>
            <td>
             <%= @order.payment %></td>
          </tr>
          <tr>
            <td>
              注文ステータス
              </td>
            <td>
            <%= f.select :order_status,Order.order_statuses.keys %>
          <%= f.submit "更新" %></td>
          </tr>
        </tbody>
        </table>
        <% end %>
    </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-hover">
        <thead>
          <td>
            商品名</td>
          <td>
            単価</td>
          <td>
            数量</td>
          <td>
            小計</td>
          <td>
            制作ステータス</td>
        </thead>
        <% @orderdetail.each do |order_detail| %>
        <%= form_for(order_detail, url:{controler: "admins_orders", action: "productionupdate"}) do |f| %>
           <tbody>
            <td>
              <%= order_detail.item.name %></td>
            <td>
              <%= (order_detail.item.without_tax_price * 1.1).floor %></td>
            <td>
              <%= order_detail.item_number %></td>
            <td>
               <%= (order_detail.item.without_tax_price* 1.1 *order_detail.item_number).floor%>
              </td>
              <td>
              <%= f.hidden_field :order_details_id, :value => order_detail %>
              <%= f.select :production_status, OrderDetail.production_statuses.keys %>
            <%= f.submit "更新" %></td>
            </tbody>

          <% end %>
       <% end %>
               </table>
         </div>

      <div class="col-md-4">
        <table class="table table-hover">
          <tbody>
            <tr>
            <th>商品合計</th>
            <td><%= @order.price %></td>
             </tr>
            <tr>
            <th>送料</th>
            <td>
               <%= @order.postage  %>
              </td>
            </tr>
            <tr>
              <th>請求金額合計</th>
              <td>
                <%= @order.price + @order.postage %>
              </td>
              </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
