
<h3>配送先登録/一覧</h3>

<!-- サクセスメッセージ -->
<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<!-- エラー文 -->
<% if @delivery.errors.any? %>
	<div id="error_explanation">
		<h2><%= @delivery.errors.count %>件のエラーがありますよ〜。</h2>
    	<ul>
      	<% @delivery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      	<% end %>
   		</ul>
   </div>
<% end %>

<!-- 配送先登録 -->
<div class="container">

  <%= form_for(@delivery) do |f| %>

  <table class="table table-bordered table-hover">
    <!-- 郵便番号入力フォーム -->
    <tr>
      <div class="field row">
        <td class=" col-lg-2 postal_code active">郵便番号</td>
        <td><%= f.text_field :postal_code, class: "postal_code", placeholder: "ハイフンなし" %></td>
      </div>
    </tr>
    <!-- 住所入力フォーム -->
    <tr>
      <div class="field row">
        <td class="address active">住所</td>
        <td><%= f.text_field :address, class: "address col-xs-4" %></td>
      </div>
    </tr>
    <!-- 宛名入力フォーム -->
    <tr>
      <div class="field row">
        <td class="name active">宛名</td>
        <td><%= f.text_field :name, class: "name" %></td>
      </div>
    </tr>

  </table>
  <!-- 登録ボタン -->
  <div class="actions row">
    <%= f.submit "登録する", class: "btn btn-success col-xs-1" %>
  </div>

  <% end %>
  <!-- 配送先登録ここまで -->

  <!-- 配送先一覧 -->
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="active col-md-1">郵便番号</th>
        <th class="active col-md-3">住所</th>
        <th class="active col-md-1">宛名</th>
        <th class="active col-md-2" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @deliverys.each do |del| %>
        <tr>
          <td><%= del.postal_code %></td>
          <td><%= del.address %></td>
          <td><%= del.name %></td>
          <td><%= link_to '編集する', edit_delivery_address_path(del), class: "btn btn-info" %>
          <%= link_to '削除する', delivery_address_path(del), method: :delete, "data-confirm" => '本当に削除しますか?', class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- 配送先一覧ここまで -->
</div>
