
<div class="container">

  <h3>購入情報入力画面</h3>

  <div class="row">
    <h4>支払い方法</h4>
    <%= form_with url: new_order_path, method: :get, local: true do |f| %>
      <div class="radio-inline" >
        <%= f.radio_button :payment, 0 %>クレジットカード<br>
        <%= f.radio_button :payment, 1 %>銀行振込
      </div>
  </div>

   <div class="row">
    <h4>お届け先</h4>
      <div class="radio-inline">
        <%= f.radio_button :address, 0 %>ご自身の住所<br>
        <%= current_customer.postal_code %>
        <%= current_customer.address %><br>
        <%= current_customer.last_name %>
        <%= current_customer.first_name %><br>
        <%= f.fields_for :delivery_address do |i|%>
        <%= f.radio_button :address, 1 %>登録済住所から選択<br>
        <%= f.collection_select(:delivery_address_id, @delivery_addresses, :id, :view_code) %><br>
      </div>
   </div>

  <div class="row">
    <div class="radio-inline">
      <%= f.radio_button :address, 2 %>新しいお届け先
        <div class="postal_code">郵便番号
          <%= f.text_field :new_postal_code, class: "postal_code", placeholder: "123-4567" %>ハイフンあり
        </div>
        <div class="address">住所
          <%= f.text_field :new_address %>
        </div>
        <div class="name">宛名
          <%= f.text_field :new_name %>
        </div>
        <% end %>
        <div class="actions row">
          <%= f.hidden_field :price, :value => @sum %>
          <%= f.submit "確認画面へ進む",class: "btn btn-info" %>
        </div>

    <% end %>
    </div>
  </div>
</div>
