<!-- 管理者側のヘッダー -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
      <span class="navbar-brand">ながのCAKE管理者サイト</span>

      <% if admin_signed_in? %>
        <ul class="nav-list">
          <li class="nav-item">
            <%= link_to "商品一覧", admins_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admins_users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧", admins_orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ジャンル管理", admins_genres_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
        <!-- 検索フォーム -->
        <form class="form-inline">
          <input class="form-control mr-sm-1" type="search">
          <button class="btn btn-primary" type="submit">検索</button>
        </form>

      <% end %>
    <!-- </div> -->
  <!-- </div> -->
</nav>
