<!DOCTYPE html>
<html>
  <head>
    <title>Sweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
    <header>
      <% if request.fullpath.include? "admin" %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/customer_header' %>
      <% end %>
    </header>

    <main>
        <%= yield %>
    </main>

    <footer>
      <div class="text-center">
        <p class="footer-text">© All rights recerved by Team-YUTORI.Inc.</p>
      </div>
      <!-- <div class="social">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-instagram"></i>
      </div> -->
    </footer>
  </div>
  </body>
</html>
