<!DOCTYPE html>
<html>
  <head>
    <title>Sweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <% if request.fullpath.include? "admin" %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/customer_header' %>
      <% end %>
  </header>

  <main>
    <%= yield %>
  </main>

    <footer class="footer p-3 mb-2 bg-secondary text-white">
      <div class="container text-center">
        <p class="footer-text">© All rights recerved by Time-YUTORI.Inc.</p>
      </div>
    </footer>

  </body>
</html>
