<!DOCTYPE html>
<html>
  <head>
    <title>Sweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
  <nav>
    <ul>
      <% if customer_signed_in? %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Logout", destroy_customer_session_path, method: :delete %></li>
        <li><%= link_to "MyPage",user_path(current_customer) %></li>
        <li><%= link_to "ショッピングカート", cart_items_path %>
      <% elsif admin_signed_in? %>
        <li>管理者</li>
        <li><%= link_to "商品一覧", admins_items_path%></li>
        <li><%= link_to "会員一覧", admins_users_path %></li>
        <li><%= link_to "注文履歴一覧", admins_orders_path %></li>
        <li><%= link_to "ジャンル管理" , admins_genres_path %></li>
        <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "新規登録", new_customer_registration_path %></li>
        <li><%= link_to "Login", new_customer_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
    <%= yield %>
  </body>
</html>
